@font-face {
  font-family: "Amalficost";
  src: url(../fonts/AmalfiCost.ttf);
}

@font-face {
  font-family: "Futura";
  src: url(../fonts/Futura-Book.ttf);
}

@font-face {
  font-family: "Afterglow";
  src: url(../fonts/Afterglow.ttf);
}

@font-face {
  font-family: "BookmanOld";
  src: url(../fonts/bookmanOld.ttf);
}

.section-1 {
  position: relative;
  height: 120vh;
  background-image: url(../images/bg-header.png);
  background-size: cover;
  background-position: 0 25%;
}

.section-1 .content {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 20%;
  -webkit-transform: translate(-20%, -30%);
          transform: translate(-20%, -30%);
  color: #fff;
}

.section-1 .content h2 {
  font-family: "Afterglow";
  font-size: 25px;
}

.section-1 .content h1 {
  font-family: "Amalficost";
  font-size: 40px;
  line-height: 12rem;
}

.section-1 .content .date {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 .content .date span {
  font-family: "Futura";
  font-size: 15px;
}

.section-1 .content .date .line {
  border-right: 2px solid #fff;
  margin: 0 1rem;
}

.section-2 {
  padding: 3rem 0;
  position: relative;
}

.section-2.salam {
  padding: 10rem 0 0 0;
  margin-top: -90px;
}

.section-2.salam .bg-salam-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2.salam .bg-salam-wrapper .bg-salam {
  width: 50%;
  border-top-right-radius: 70%;
  border-top-left-radius: 70%;
  height: 100%;
  background-color: #fff;
}

.section-2 .container {
  position: relative;
}

.section-2 .container .content {
  font-family: "Futura";
}

.section-2 .container .content h3 {
  color: #e9b26b;
}

.section-2 .container .content.avatar-wrapper {
  text-align: center;
}

.section-2 .container .content.avatar-wrapper .title-section {
  color: #000;
  margin-bottom: 3rem;
}

.section-2 .container .content.avatar-wrapper .avatar-image {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-2 .container .content.avatar-wrapper .detail-avatar {
  margin: 5rem 0;
}

.section-2 .container .content.avatar-wrapper .detail-avatar h2 {
  font-family: "Afterglow";
  font-size: 25px;
  color: #e9b26b;
}

.section-2 .container .content.avatar-wrapper .detail-avatar p {
  font-family: "BookmanOld";
  font-size: 12.5px;
}

.section-2 .container .content.avatar-wrapper .detail-avatar .border-wrapper {
  width: 100%;
  position: relative;
}

.section-2 .container .content.avatar-wrapper .detail-avatar .border-wrapper .border-wedding {
  width: 180px;
  aspect-ratio: 1;
  margin: auto;
}

.section-2 .container .content.avatar-wrapper .detail-avatar .border-wrapper .cincin {
  position: absolute;
  width: 80px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-3 {
  position: relative;
  padding: 3rem 0;
}

.section-3 .content .story {
  text-align: center;
}

.section-3 .content .story .title-section {
  background-image: url(../images/bg-title.png);
  background-size: cover;
  background-position: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 2rem 3.5rem 2.4rem 3.5rem;
  color: #fff;
}

.section-3 .content .story p {
  font-family: "BookmanOld";
  font-size: 12.5px;
}

.section-3 .content .photos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

.section-3 .content .photos-wrapper .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-3 .content .photos-wrapper .photos:last-child {
  margin-top: 5rem;
}

.section-3 .content .yt-embed-wrapper {
  text-align: right;
}

.section-3 .content .yt-embed-wrapper .yt-embed {
  width: 480px;
  aspect-ratio: 2;
}

.section-4 {
  position: relative;
  color: #000;
}

.section-4 .line {
  background-color: #e9b26b;
  height: 2px;
  width: 80%;
  opacity: 1;
}

.section-4 .content {
  margin: 2rem 0;
  width: 50%;
}

.section-4 .content .title-section {
  margin-bottom: 5rem;
}

.section-4 .content .venue h2 {
  color: #e9b26b;
  font-family: "Afterglow";
  font-size: 30px;
}

.section-4 .content .venue h6,
.section-4 .content .venue p {
  font-family: "BookmanOld";
}

.section-4 .content .venue p {
  font-style: italic;
}

.section-4 .content form {
  text-align: center;
  margin: 3rem 0;
}

.section-4 .content form .card {
  border: none;
  -webkit-box-shadow: 0px 0px 10px #00000030;
          box-shadow: 0px 0px 10px #00000030;
}

.section-4 .content form .card h4 {
  font-family: "Afterglow";
}

.section-4 .content form .card .form-control {
  font-family: "BookmanOld";
  border: none;
  -webkit-box-shadow: 0 0 10px #00000030;
          box-shadow: 0 0 10px #00000030;
}

.section-4 .content form .card .form-control::-webkit-input-placeholder {
  color: #e9b26b;
  font-family: "BookmanOld";
}

.section-4 .content form .card .form-control:-ms-input-placeholder {
  color: #e9b26b;
  font-family: "BookmanOld";
}

.section-4 .content form .card .form-control::-ms-input-placeholder {
  color: #e9b26b;
  font-family: "BookmanOld";
}

.section-4 .content form .card .form-control::placeholder {
  color: #e9b26b;
  font-family: "BookmanOld";
}

.section-4 .content form .card select.form-control {
  text-align: center;
  color: #e9b26b;
}

.section-4 .content form .card select.form-control option {
  color: #e9b26b;
}

.section-4 .content form .btn-custom {
  padding: 0.5rem 3rem;
}

.section-4 .content .lokasi {
  margin: 2rem 0;
}

.section-4 .content .lokasi h2 {
  font-family: "Afterglow";
  font-size: 25px;
}

.section-4 .content .lokasi p {
  font-family: "BookmanOld";
}

.section-4 .content .lokasi .btn-custom {
  padding: 0.5rem 3rem;
}

.section-4 .content .lokasi .maps-embed {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

.section-4 .content .lokasi .maps-embed .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%;
}

.section-4 .content .lokasi .maps-embed .mapouter {
  position: relative;
  text-align: right;
}

.main-app {
  background-color: #fff;
}

.title-section {
  font-family: "Amalficost";
  font-size: 25px;
}

.btn-custom {
  background-color: #e9b26b;
  font-weight: 700;
  font-family: "Afterglow";
}
/*# sourceMappingURL=app.css.map */