@font-face {
  font-family: "Ruthligos";
  src: url(../fonts/Ruthligos.ttf);
}

@font-face {
  font-family: "Afterglow";
  src: url(../fonts/Afterglow.ttf);
}

.section-1 {
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.section-1 .hias-1 {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 10;
}

@media (max-width: 576px) {
  .section-1 .hias-1 {
    width: 200px;
  }
}

.section-1 .content {
  background-image: url(../images/bg-grey.png);
  background-size: cover;
  text-align: center;
  position: relative;
}

.section-1 .content .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media (min-width: 2560px) {
  .section-1 .content .header-wrapper {
    height: 80vh;
  }
}

.section-1 .content .header-wrapper h2 {
  margin-top: -2rem;
  margin-bottom: 5rem;
}

@media (max-width: 576px) {
  .section-1 .content .header-wrapper h2 {
    margin-bottom: 2rem;
  }
}

.section-1 .content .header-wrapper .card {
  position: relative;
  border: none;
  background-color: transparent;
  width: 60%;
}

@media (max-width: 576px) {
  .section-1 .content .header-wrapper .card {
    width: 72%;
  }
}

.section-1 .content .header-wrapper .card .hias-2 {
  position: absolute;
  top: 57%;
  left: -150px;
  -webkit-transform: translate(0, -57%);
          transform: translate(0, -57%);
  height: 320px;
  width: auto;
}

@media (max-width: 576px) {
  .section-1 .content .header-wrapper .card .hias-2 {
    height: 180px;
    left: -80px;
  }
}

.section-1 .content .header-wrapper .card .card-body {
  position: relative;
  padding: 3rem;
  background-color: #ffebd6;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #00000020;
          box-shadow: 5px 5px 5px #00000020;
}

@media (max-width: 768px) {
  .section-1 .content .header-wrapper .card .card-body {
    padding: 3rem 1rem;
  }
}

@media (max-width: 576px) {
  .section-1 .content .header-wrapper .card .card-body {
    padding: 2rem;
  }
}

.section-1 .content .header-wrapper .card .card-body h1 {
  line-height: 12rem;
}

@media (max-width: 768px) {
  .section-1 .content .header-wrapper .card .card-body h1 {
    line-height: normal;
    margin-bottom: 1.5rem;
  }
}

.section-1 .content .header-wrapper .card .card-body .dot-1,
.section-1 .content .header-wrapper .card .card-body .dot-2 {
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: inset 0 5px 5px #00000050;
          box-shadow: inset 0 5px 5px #00000050;
}

@media (max-width: 576px) {
  .section-1 .content .header-wrapper .card .card-body .dot-1,
  .section-1 .content .header-wrapper .card .card-body .dot-2 {
    width: 15px;
  }
}

.section-1 .content .header-wrapper .card .card-body .dot-1 {
  bottom: 20px;
  left: 20px;
}

.section-1 .content .header-wrapper .card .card-body .dot-2 {
  top: 20px;
  right: 20px;
}

#envelope-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #ffebd6;
}

#envelope-wrap h1 {
  margin-bottom: 0;
}

#envelope-wrap .content .header-wrapper {
  height: 100vh;
}

#envelope-wrap .btn-custom {
  background-color: #ffebd6;
  color: #2e272f;
  margin-top: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2rem;
}

@media (max-width: 576px) {
  #envelope-wrap .btn-custom {
    margin-top: 2rem;
  }
}

#envelope-wrap .btn-custom:hover {
  background-color: #c0ae87;
}

.section-2 {
  position: relative;
}

.section-2 .content {
  background-image: url(../images/bg-grey.png);
  background-size: cover;
  text-align: center;
  padding: 1rem 0 3rem 0;
  overflow: hidden;
}

@media (max-width: 576px) {
  .section-2 .content {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .section-2 .content .title-salam {
    font-size: 18px;
  }
}

.section-2 .content .bridge .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 3rem 0;
}

.section-2 .content .bridge .title-section h3 {
  margin-bottom: 0;
}

.section-2 .content .bridge .title-section .line {
  border-right: 2px solid #000;
  height: 40px;
  margin: 0 1rem;
}

@media (max-width: 576px) {
  .section-2 .content .bridge .title-section .line {
    height: 20px;
    border-width: 1px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .bridge .detail-avatar {
    margin-bottom: 2rem;
  }
}

.section-2 .content .bridge .detail-avatar h4 {
  font-weight: 700;
}

.section-2 .content .bridge .detail-avatar .icon img {
  width: 30px;
  aspect-ratio: 1;
}

@media (max-width: 576px) {
  .section-2 .content .bridge .detail-avatar .icon img {
    width: 20px;
  }
}

.section-2 .content .bridge .avatar-wrapper-sm {
  display: none;
}

@media (max-width: 576px) {
  .section-2 .content .bridge .avatar-wrapper-sm {
    display: block;
  }
}

@media (max-width: 576px) {
  .section-2 .content .bridge .avatar-wrapper-lg {
    display: none;
  }
}

.section-2 .content .bridge .avatar-image {
  width: 100%;
  aspect-ratio: 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .section-2 .content .bridge .avatar-image {
    width: 150px;
    margin-bottom: 3rem;
  }
}

.section-3 {
  position: relative;
  background-color: #c0ae87;
  overflow: hidden;
}

.section-3 .content {
  position: relative;
}

.section-3 .content .story {
  background-color: #c0ae87;
  padding: 3rem 0;
}

@media (max-width: 768px) {
  .section-3 .content .story {
    text-align: center;
  }
}

.section-3 .content .story h3 {
  text-align: center;
}

.zoom-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 2rem 0;
  height: auto;
  gap: 0.75rem;
  text-align: center;
}

@media (max-width: 576px) {
  .zoom-gallery {
    gap: 0.25rem;
  }
}

.zoom-gallery a {
  position: relative;
}

.zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 0 8px;
  font-size: 16px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 576px) {
  .zoom-gallery a::after {
    font-size: 14px;
  }
}

.zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.zoom-gallery a:hover::after {
  opacity: 1;
}

.zoom-gallery .photo {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .zoom-gallery .photo {
    height: 156px;
  }
}

@media (max-width: 576px) {
  .zoom-gallery .photo {
    height: 67px;
  }
}

@media (max-width: 992px) {
  .zoom-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .zoom-gallery .photo {
    width: 100%;
  }
}

.section-4 {
  position: relative;
  overflow: hidden;
}

.section-4 .content {
  background-image: url(../images/bg-grey.png);
  background-size: cover;
  padding: 3rem 2rem 3rem 2rem;
}

@media (max-width: 576px) {
  .section-4 .content {
    padding: 3rem 1rem 3rem 1rem;
  }
}

.section-4 .content .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .content .title-section .line {
  border-right: 2px solid #000;
  height: 40px;
  margin: 0 1rem;
}

@media (max-width: 576px) {
  .section-4 .content .title-section .line {
    height: 20px;
    border-width: 1px;
  }
}

@media (max-width: 576px) {
  .section-4 .content .resepsi-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-4 .content .akad-image,
.section-4 .content .resepsi-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-4 .content .resepsi-detail {
  text-align: right;
  padding: 2rem;
}

@media (max-width: 576px) {
  .section-4 .content .resepsi-detail {
    text-align: center;
  }
}

.section-4 .content .akad-detail {
  text-align: left;
  padding: 2rem;
}

@media (max-width: 576px) {
  .section-4 .content .akad-detail {
    text-align: center;
  }
}

.section-4 .content .maps-embed {
  width: 100%;
  height: 315px;
  margin-bottom: -7px;
}

@media (max-width: 576px) {
  .section-4 .content .row-maps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-4 .content .icon {
  width: 80px;
  height: auto;
}

@media (max-width: 576px) {
  .section-4 .content .icon {
    width: 60px;
  }
}

.section-4 .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 576px) {
  .section-4 .content form {
    margin-bottom: 3rem;
  }
}

.section-4 .content form .form-control,
.section-4 .content form .form-select {
  border: 1px solid #2e272f;
  font-family: "Poppins";
}

.section-4 .content form .form-control::-webkit-input-placeholder,
.section-4 .content form .form-select::-webkit-input-placeholder {
  color: #2e272f;
}

.section-4 .content form .form-control:-ms-input-placeholder,
.section-4 .content form .form-select:-ms-input-placeholder {
  color: #2e272f;
}

.section-4 .content form .form-control::-ms-input-placeholder,
.section-4 .content form .form-select::-ms-input-placeholder {
  color: #2e272f;
}

.section-4 .content form .form-control::placeholder,
.section-4 .content form .form-select::placeholder {
  color: #2e272f;
}

.section-5 {
  position: relative;
  background-image: url(../images/bg-grey.png);
  background-size: cover;
  overflow: hidden;
}

.section-5 .content {
  background-color: #c0ae87;
  padding: 3rem 0;
  text-align: center;
}

.section-5 .content .guest-form .form-control {
  border: none;
  background-color: #ffffff80;
  font-family: "Poppins";
  padding: 0.75rem 2rem;
}

@media (max-width: 576px) {
  .section-5 .content .guest-form .btn {
    margin-bottom: 3rem;
  }
}

.section-5 .content .card {
  text-align: left;
  background-color: #ffffff80;
  height: 393px;
  overflow: hidden;
  border: none;
  margin: 0 -15px;
  padding: 2rem;
}

.section-5 .content .card .card-body {
  padding: 0;
  overflow: auto;
}

.section-5 .content .card .card-body::-webkit-scrollbar {
  display: none;
}

.section-5 .content .card .card-body .text-slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  overflow: hidden;
}

.section-6 {
  background-image: url(../images/bg-grey.png);
  background-size: cover;
  background-position: top;
}

.section-6 .content {
  text-align: center;
  padding: 3rem 0;
}

.section-6 .content form .form-control,
.section-6 .content form .input-group-text {
  margin-bottom: 0.5rem;
  font-family: "Poppins";
  padding: 0.75rem 2rem;
}

.section-6 .content form .input-group-text {
  background-color: #ffebd6;
  padding: 0.75rem 1rem;
}

.section-7 {
  background-image: url(../images/bg-grey.png);
  background-size: cover;
}

.section-7 .content {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 3rem 0;
  overflow: hidden;
}

@media (max-width: 992px) {
  .section-7 .content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  .section-7 .content {
    padding-top: 1rem;
  }
}

@media (max-width: 992px) {
  .section-7 .content .yt-stream {
    margin-bottom: 3rem;
  }
}

.section-7 .content .yt-stream h4 {
  text-align: right;
}

.section-7 .content .yt-stream .yt-embed {
  width: 100%;
  height: 304px;
  margin-bottom: -0.4rem;
}

@media (max-width: 768px) {
  .section-7 .content .yt-stream .yt-embed {
    height: 385px;
  }
}

@media (max-width: 576px) {
  .section-7 .content .yt-stream .yt-embed {
    height: 168px;
  }
}

.section-7 .content .card {
  background-color: #2e272f20;
  border: none;
  height: 304px;
  overflow: auto;
}

@media (max-width: 768px) {
  .section-7 .content .card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.section-7 .content .card .card-body {
  overflow: hidden;
}

.section-8 {
  position: relative;
  overflow: hidden;
}

.section-8 .content {
  z-index: 10;
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

.section-9 {
  position: relative;
  overflow: visible;
}

.section-9 .hias {
  position: absolute;
  bottom: 20px;
  left: -20px;
  height: 830px;
  width: auto;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .section-9 .hias {
    height: 740px;
  }
}

@media (max-width: 992px) {
  .section-9 .hias {
    height: 620px;
  }
}

@media (max-width: 768px) {
  .section-9 .hias {
    height: 580px;
    left: -180px;
    bottom: 0;
  }
}

@media (max-width: 576px) {
  .section-9 .hias {
    height: 605px;
  }
}

.section-9 .content {
  text-align: center;
  padding: 0 0 3rem 0;
  position: relative;
}

.section-9 footer {
  text-align: center;
  padding: 1rem 0;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.main-app {
  background-color: #ffebd6;
}

h1 {
  font-family: "Ruthligos";
  font-size: 65px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-family: "Afterglow";
  font-size: 30px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-family: "Ruthligos";
  font-size: 30px;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-family: "Poppins";
  font-size: 20px;
}

@media (max-width: 576px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: "Poppins";
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

.btn-custom {
  background-color: #2e272f;
  color: #ffebd6;
  text-transform: uppercase;
  padding: 0;
  font-family: "Poppins";
  width: 212px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.btn-custom:hover {
  color: #ffffff80;
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 14px;
    width: 100%;
  }
}

.form-control,
.form-select {
  padding: 0.75rem !important;
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #ffebd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1000;
}

.loader-wrapper .dots {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-animation: dot 3s ease-in-out infinite;
          animation: dot 3s ease-in-out infinite;
}

.loader-wrapper .dots:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-wrapper .dots:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader-wrapper .dots:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-wrapper .dots:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-wrapper .dots:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #c0ae87;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #d8274e;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #2e272f;
  }
}

@keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #c0ae87;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #d8274e;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #2e272f;
  }
}
/*# sourceMappingURL=app.css.map */