@font-face {
  font-family: "Newyork";
  src: url("../fonts/NewYork.otf");
}

@font-face {
  font-family: "Futura-Book";
  src: url("../fonts/Futura-Book.ttf");
}

.section-1 {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #0b162e;
}

.section-1 .flower-1,
.section-1 .flower-2 {
  position: absolute;
  top: -70px;
}

@media (max-width: 576px) {
  .section-1 .flower-1,
  .section-1 .flower-2 {
    width: 220px;
  }
}

.section-1 .flower-1 {
  left: -80px;
}

.section-1 .flower-2 {
  right: -80px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 576px) {
  .section-1 .flower-2.lg {
    display: none;
  }
}

.section-1 .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

.section-1 .content-wrapper .date-sm {
  display: none;
}

@media (max-width: 576px) {
  .section-1 .content-wrapper .date-sm {
    display: block;
    margin-top: 3rem;
  }
}

.section-1 .content-wrapper .content-title {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .section-1 .content-wrapper .content-title .date-lg {
    display: none;
  }
}

.section-1 .content-wrapper .content-title .title {
  position: relative;
}

.section-1 .content-wrapper .content-title .title .line {
  position: absolute;
  width: 170%;
  border-bottom: 2px #fff solid;
  top: 53%;
  left: -27%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: 2s line ease;
          animation: 2s line ease;
}

.section-1 .content-wrapper .content-title .title .line::after {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fff;
  content: "";
  border-radius: 50%;
  margin-top: -1.5%;
  -webkit-animation: 3.5s dot ease;
          animation: 3.5s dot ease;
  z-index: 2;
}

.section-1 .content-wrapper .content-title .title h1:first-child {
  margin: 0 110px -55px 0;
}

@media (max-width: 576px) {
  .section-1 .content-wrapper .content-title .title h1:first-child {
    margin: 0 60px -20px 0;
  }
}

.section-1 .content-wrapper .content-title .title h1:last-child {
  margin: -55px 0 0 120px;
}

@media (max-width: 576px) {
  .section-1 .content-wrapper .content-title .title h1:last-child {
    margin: -10px 0 0 80px;
  }
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 0;
  }
  50% {
    width: 170%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes line {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 0;
  }
  50% {
    width: 170%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section-2 {
  color: #fff;
  text-align: center;
  background-color: #0b162e;
  background-image: url(../images/waves.png);
  background-size: cover;
  background-position: bottom;
  padding: 3rem 0;
}

.section-2 .avatar-welcome {
  width: 100%;
  height: 400px;
  padding: 0 20px;
}

@media (min-width: 2048px) {
  .section-2 .avatar-welcome {
    height: 450px;
  }
}

.avatar-wrapper {
  background-color: #fff;
  text-align: center;
}

.avatar-wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar-wrapper .icon-wrapper .icon {
  color: #fff;
  background-color: #0b162e;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  line-height: 0;
}

.avatar-wrapper .avatar {
  border-radius: 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 576px) {
  .avatar-wrapper .avatar {
    width: 200px;
    margin: 2rem 0;
  }
}

.avatar-wrapper .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-3 {
  overflow: hidden;
  position: relative;
  background-image: url(../images/bg-image-1.png);
  background-size: cover;
  background-position: center;
}

.section-3::before {
  background-color: #0b162e;
  opacity: 0.85;
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
}

.section-3 .flower-1,
.section-3 .flower-2 {
  position: absolute;
  top: -70px;
}

.section-3 .flower-1 {
  left: -100px;
}

@media (max-width: 576px) {
  .section-3 .flower-1 {
    width: 150px;
    left: -50px;
    top: -50px;
  }
}

.section-3 .flower-2 {
  right: -100px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 576px) {
  .section-3 .flower-2.lg {
    display: none;
  }
}

.section-3 .content-wrapper {
  position: relative;
}

.section-3 .content-wrapper .content {
  color: #fff;
  text-align: center;
  margin: 4.5rem 0;
}

.section-3 .content-wrapper .content h1 {
  margin-bottom: 2rem;
}

.section-3 .content-wrapper .content p {
  font-style: italic;
  font-weight: 500;
}

.section-4 {
  background-color: #fff;
}

.section-4 .gallery-wrapper {
  text-align: center;
  padding: 40px 0;
}

.section-4 .gallery-wrapper .img-gallery {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section-4 .gallery-wrapper .gallery {
  position: relative;
  padding: 0 2.5rem;
}

.section-4 .gallery-wrapper .gallery .nav .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
}

.section-4 .gallery-wrapper .gallery .nav .btn.prev {
  left: 0;
}

.section-4 .gallery-wrapper .gallery .nav .btn.next {
  right: 0;
}

.section-4 .gallery-wrapper .gallery .nav .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-4 .gallery-wrapper .gallery .nav .fas {
  font-size: 45px;
}

.section-5-1 {
  background-image: url(../images/waves.png);
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-position: bottom;
  background-size: cover;
  background-color: #0b162e;
}

.section-5-1 .yt-embed {
  width: 480px;
  height: 240px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

@media (max-width: 576px) {
  .section-5-1 .yt-embed {
    width: 280px;
    height: 160px;
  }
}

.section-5-2 {
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  background-color: #0b162e;
}

.section-5-2 .maps-embed {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

.section-5-2 .maps-embed .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%;
}

.section-5-2 .maps-embed .mapouter {
  position: relative;
  text-align: right;
}

.section-5-2 .card {
  margin: 20px 0;
  background-color: #ffffff50;
}

.section-5-2 .icon {
  aspect-ratio: 1;
  width: 90px;
}

.presence-wrapper {
  width: 100%;
  padding: 15px 0 60px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #0b162e;
}

.presence-wrapper .presence-form {
  width: 50%;
  position: relative;
}

@media (max-width: 576px) {
  .presence-wrapper .presence-form {
    width: 100%;
  }
  .presence-wrapper .presence-form .col-md-6 {
    width: 50%;
  }
}

.presence-wrapper .presence-form .form-control {
  font-family: "Futura-Book";
}

.presence-wrapper .presence-bg {
  background-image: url(../images/bg-image-2.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 85px;
  background-position: 0 -495px;
  background-size: cover;
}

@media (max-width: 576px) {
  .presence-wrapper .presence-bg {
    bottom: 0;
    background-position: center;
  }
}

.presence-wrapper .presence-bg::before {
  background-color: #0b162e;
  opacity: 0.75;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
}

.section-6 {
  position: relative;
  padding-top: 5rem;
  color: #000;
  background-color: #0b162e;
}

.section-6 .custom-bg-wrapper {
  position: absolute;
  bottom: 30%;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-6 .custom-bg-wrapper .custom-bg-left,
.section-6 .custom-bg-wrapper .custom-bg-right {
  background-color: #fff;
  width: 50%;
  height: 100%;
}

.section-6 .custom-bg-wrapper .custom-bg-left {
  border-top-right-radius: 35px;
}

.section-6 .custom-bg-wrapper .custom-bg-right {
  border-top-left-radius: 35px;
}

.section-6 .text-slider {
  padding: 3rem;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  aspect-ratio: 24;
  position: relative;
}

.section-6 .text-slider h6 {
  font-weight: 600;
}

.section-6 .card {
  border: none;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.section-6 .card .guest {
  padding: 0 3rem;
}

@media (max-width: 576px) {
  .section-6 .card .guest {
    padding: 0;
  }
}

.section-6 .card .guest .form-control {
  background-color: #0b162e;
}

.section-6 .card .guest .form-control::-webkit-input-placeholder {
  color: #fff;
  font-family: "Futura-Book";
}

.section-6 .card .guest .form-control:-ms-input-placeholder {
  color: #fff;
  font-family: "Futura-Book";
}

.section-6 .card .guest .form-control::-ms-input-placeholder {
  color: #fff;
  font-family: "Futura-Book";
}

.section-6 .card .guest .form-control::placeholder {
  color: #fff;
  font-family: "Futura-Book";
}

.section-6 .bg-custom {
  background-image: url(../images/bg-image-3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.section-6 .bg-custom::before {
  background-color: #fefefe90;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.section-7 {
  margin-bottom: 3rem;
  position: relative;
}

.section-7 .flower {
  position: absolute;
  width: 200px;
  top: 0;
  left: -50px;
}

@media (max-width: 576px) {
  .section-7 .flower {
    width: 120px;
  }
}

.section-7 .pay-text {
  background-color: #0b162e;
  text-align: center;
  color: #fff;
}

.section-7 .form-control {
  background-color: #e9e9e9;
  border: none;
  padding: 10px;
}

.section-7 .input-group .input-group-text {
  background-color: #0b162e;
  color: #fff;
}

@media (max-width: 576px) {
  .section-7 .row {
    gap: 0.25rem;
  }
}

.section-8 {
  background-color: #0b162e;
  color: #fff;
  padding: 10rem 0;
  border-radius: 50%/15%;
}

@media (max-width: 576px) {
  .section-8 {
    border-radius: 50%/70px;
    padding: 5rem 0;
  }
}

.section-8 .icon {
  aspect-ratio: 1;
  width: 90px;
}

.section-8 .yt-stream {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.section-8 .yt-stream h5 {
  text-align: left;
}

.section-8 .yt-stream .yt-embed {
  width: 480px;
  height: 240px;
}

@media (max-width: 576px) {
  .section-8 .yt-stream .yt-embed {
    width: 100%;
    height: auto;
    aspect-ratio: 2;
  }
}

.section-9 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.section-9 .flower-1,
.section-9 .flower-2 {
  bottom: -70px;
  position: absolute;
  width: 300px;
}

.section-9 .flower-1 {
  left: -80px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

@media (max-width: 576px) {
  .section-9 .flower-1 {
    width: 150px;
    bottom: -50px;
  }
}

.section-9 .flower-2 {
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
  right: -80px;
}

@media (max-width: 576px) {
  .section-9 .flower-2 {
    display: none;
  }
}

.section-9 .container small {
  font-family: Calibri, sans-serif;
  font-style: italic;
}

.section-9 .footer {
  background-color: #0b162e;
  color: #fff;
  padding: 10px 0;
}

.section-9 .footer small {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: relative;
}

.font-futura {
  font-family: "Futura-Book", sans-serif;
}

.main-app {
  background-color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 125px;
  font-family: "Newyork";
}

@media (max-width: 576px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 40px;
  font-family: "Newyork";
}

@media (max-width: 576px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Newyork";
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 36px;
  font-family: "Newyork";
}

@media (max-width: 576px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 32px;
  font-family: "Futura-Book";
}

@media (max-width: 576px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 24px;
  font-family: "Futura-Book";
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p,
ol {
  font-size: 20px;
  font-family: "Futura-Book";
}

@media (max-width: 768px) {
  p,
  ol {
    line-height: 1.8rem;
  }
}

@media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
    line-height: 1.8rem;
  }
}

.btn-custom {
  background-color: #aaa8a8;
  color: #0b162e;
  font-weight: 700;
  font-family: "Futura-Book";
  width: 374px;
  height: 38px;
  padding: 0;
  line-height: 38px;
}

.load-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #0b162e;
  position: relative;
}

.load-wrapper .loader-1 {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.load-wrapper .loader-2 {
  border-bottom: 2px solid #008b13;
  border-top: 2px solid #008b13;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 0.8s;
          animation: loader 3s infinite 0.8s;
}

.load-wrapper .loader-3 {
  border-bottom: 2px solid #e00038;
  border-top: 2px solid #e00038;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 1.6s;
          animation: loader 3s infinite 1.6s;
}

.load-wrapper .loader-4 {
  border-bottom: 2px solid #ca8503;
  border-top: 2px solid #ca8503;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 2.2s;
          animation: loader 3s infinite 2.2s;
}

@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=app.css.map */